// https://github.com/owenrumney/eww-bar/blob/master/eww.scss

* {
	all: unset;
}

.bar {
    all: unset;
	background-color: #1f1f1f;
    border-radius: 16px;
    margin-left: 12px;
    margin-right: 12px;
}
